version: '2.2'

services:

  dps:
    image: defreitas/dns-proxy-server
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    hostname: dps.mw.localhost
    networks:
      dps:
        ipv4_address: 172.0.0.10

  db-master:
    image: ${DB}:latest
    environment:
      - MYSQL_ROOT_PASSWORD=toor
    hostname: db-master.mw.localhost
    dns:
      - 172.0.0.10
    networks:
      - dps
    volumes:
      - sql-data-master:/var/lib/mysql
      - ./config/mysql/master:/tmp/mwdd
    entrypoint: "/tmp/mwdd/entrypoint.sh"
    command: "mysqld"

  db-slave:
    image: ${DB}:latest
    environment:
      - MYSQL_ROOT_PASSWORD=toor
    hostname: db-slave.mw.localhost
    dns:
      - 172.0.0.10
    networks:
      - dps
    volumes:
      - sql-data-slave:/var/lib/mysql
      - ./config/mysql/slave:/tmp/mwdd
    entrypoint: "/tmp/mwdd/entrypoint.sh"
    command: "mysqld"

  db-configure:
    image: ${DB}:latest
    environment:
      - "MYSQL_SLAVE_PASSWORD=toor"
      - "MYSQL_MASTER_PASSWORD=toor"
      - "MYSQL_ROOT_PASSWORD=toor"
      - "MYSQL_REPLICATION_USER=repl"
      - "MYSQL_REPLICATION_PASSWORD=repl"
    depends_on:
     - db-master
     - db-slave
    networks:
      - dps
    volumes:
      - ./scripts/mysql_connector.sh:/tmp/mysql_connector.sh
      - ./scripts/wait-for-it.sh:/tmp/wait-for-it.sh
    command: /bin/bash -x /tmp/mysql_connector.sh

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
     - PMA_USER:root
     - PMA_PASSWORD:toor
     - PMA_HOSTS=db-master,db-slave
     - PMA_ARBITRARY=1
     - VIRTUAL_HOST=phpmyadmin.mw.localhost
    hostname: phpmyadmin.mw.localhost
    dns:
      - 172.0.0.10
    networks:
      - dps
    volumes:
      - ./config/phpmyadmin/config.user.inc.php:/etc/phpmyadmin/config.user.inc.php

  web:
    image: webdevops/php-${WEBSERVER}-dev:${RUNTIMEVERSION}
    environment:
     - WEB_DOCUMENT_ROOT=/var/www
     # Used by various maintenance scripts to find MediaWiki.
     # Also required for /var/www/index.php - https://phabricator.wikimedia.org/T153882
     - MW_INSTALL_PATH=/var/www/mediawiki
     - VIRTUAL_HOST=*.web.mw.localhost
     - PHP_DEBUGGER=xdebug
     - XDEBUG_REMOTE_AUTOSTART=${XDEBUG_REMOTE_AUTOSTART}
     - XDEBUG_REMOTE_HOST=${IDELOCALHOST}
     - XDEBUG_REMOTE_PORT=9000
     - XDEBUG_REMOTE_CONNECT_BACK=0
     - XDEBUG_PROFILER_ENABLE_TRIGGER=1
     - PHP_IDE_CONFIG=serverName=docker
     - PHP_UPLOAD_MAX_FILESIZE=1024M
     - PHP_POST_MAX_SIZE=1024M
    hostname: mediawiki.mw.localhost
    dns:
      - 172.0.0.10
    dns_search:
      - mw.localhost
    networks:
      - dps
    depends_on:
     - db-configure
    volumes:
     - "${DOCKER_MW_PATH}:/var/www/mediawiki:cached"
     - ./config/mediawiki:/var/www/mediawiki/.docker:ro
     - ./scripts/wait-for-it.sh:/srv/wait-for-it.sh:ro
     - mw-images:/var/www/mediawiki/images/docker:delegated
  graphite-statsd:
    image: hopsoft/graphite-statsd
    environment:
     - VIRTUAL_HOST=graphite.mw.localhost
    hostname: graphite.mw.localhost
    dns:
      - 172.0.0.10
    networks:
      - dps
    volumes:
     - graphite-data:/opt/graphite/storage

  nginx-proxy:
    # TODO: replace with jwilder/nginx-proxy, once updated
    image: silvanwmde/nginx-proxy:latest
    environment:
      - VIRTUAL_HOST=proxy.mw.localhost
      - HOSTNAMES=.web.mw.localhost      # wildcard name resolution, thanks to DPS
      - HTTP_PORT=${DOCKER_MW_PORT}      # internal port
    ports:
      - "${DOCKER_MW_PORT}:${DOCKER_MW_PORT}"
    hostname: proxy.mw.localhost
    dns:
      - 172.0.0.10
    dns_search:
      - mw.localhost
    networks:
      - dps
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./config/nginx/client_max_body_size.conf:/etc/nginx/conf.d/client_max_body_size.conf:ro
      - ./config/nginx/timeouts.conf:/etc/nginx/conf.d/timeouts.conf:ro

  redis:
    image: redis
    hostname: redis.mw.localhost
    dns:
      - 172.0.0.10
    networks:
      - dps

volumes:
  sql-data-master:
  sql-data-slave:
  graphite-data:
  mw-images:

networks:
  dps:
    ipam:
      config:
        - subnet: 172.0.0.0/24