version: '2'

services:

  db:
    image: ${DB}:latest
    environment:
      - MYSQL_ROOT_PASSWORD=toor
    volumes:
      - sql-data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
     - PMA_USER:root
     - PMA_PASSWORD:toor
     - PMA_HOST=db
     - PMA_ARBITRARY=1
     - VIRTUAL_HOST=phpmyadmin.mw.localhost

  web:
    image: webdevops/${PHPORHHVM}-${WEBSERVER}${DOCKERPHPDEV}:${RUNTIMEVERSION}
    environment:
     - WEB_DOCUMENT_ROOT=/var/www/mediawiki
     - VIRTUAL_HOST=*.web.mw.localhost
     - PHP_DEBUGGER=xdebug
     - XDEBUG_REMOTE_AUTOSTART=1
     - XDEBUG_REMOTE_HOST=${IDELOCALHOST}
     - XDEBUG_REMOTE_PORT=9000
     - XDEBUG_REMOTE_CONNECT_BACK=0
     - PHP_IDE_CONFIG=serverName=docker
     - COMPOSER_CACHE_DIR=/cache/composer
    depends_on:
     - db
    volumes:
     - "${DOCKER_MW_PATH}:/var/www/mediawiki"
     - ./config/mediawiki:/var/www/mediawiki/.docker:ro
     - ./config/hhvm/php.ini:/etc/hhvm/php.ini:ro
     - ./config/hhvm/server.ini:/etc/hhvm/server.ini:ro
     - ./scripts/wait-for-it.sh:/srv/wait-for-it.sh:ro
     - mw-images:/var/www/mediawiki/images/docker
     - mw-vendor:/var/www/mediawiki/vendor
     - composer-cache:/cache/composer

  graphite-statsd:
    image: hopsoft/graphite-statsd
    environment:
     - VIRTUAL_HOST=graphite.mw.localhost
    volumes:
     - graphite-data:/opt/graphite/storage

  nginx-proxy:
    image: jwilder/nginx-proxy
    environment:
     - VIRTUAL_HOST=proxy.mw.localhost
    ports:
      - "${DOCKER_MW_PORT}:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

volumes:
  sql-data:
  graphite-data:
  mw-images:
  mw-vendor:
  composer-cache:
